<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :summary, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :summary, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :taskcontent, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :taskcontent, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :scheduled, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :scheduled, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
<% end %>
